/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: rgb(233, 75, 48);
width: 1350px;
height: 500px;

    
}
.adjust{display: flex;

}
.Copa-2021{
    padding-left: 200px;
    padding-top: 100px;
}

h1{
    color: white;
   font-size: 50px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(cyan, teal);
    color:white;
padding:10px;
border-radius: 5px;}

.link-button:hover{
    cursor: pointer;
    transform: scale(0.54);
    color: black;
}
    
.live-images{
    width:500px ;
    height:400px ;
    padding-left: 200px;
    padding-top: 100px;
}
/* ---------player css -------- */
.best-players{
    background-color:#FFFFFF;
    margin-top: 70px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-row-gap: 30px;
    align-items: center;
   
    
}

.players img{
    width: 300px;
    height: 256px;
    border-radius: 10px;
    margin-top: 10px;
   
    
}
.player-bio{
    font-size: 12px;
}
.players{
 
width: 330px;
height: 474px;
    box-shadow: 0px 0px 40px gray;
    padding-left: 30px;
    margin-left: 30px;
}

/* -------sponsor css--------  */
.sponsor img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    
}
h2{
    margin-top: 20px;
    text-align: center;
    color:teal;
    font-size: 40px;
}

hr{
    background-image: linear-gradient( cyan, teal);
    height: 5px;
    width: 70%;
}

.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 70px;
}

.footer{
    text-align: center;
    font-size: 30px;
    text-align: center;
}

#text-center{
    font-size: 12px;
    text-align: center;
}
/*---------- media quaries-------- */
/* mobile device */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
       margin-right: 50%;
       flex-direction: column;
        

    }
    .best-players { 
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }

    /*------ tablet devices ---- */
    @media only screen and (min-width: 689px) and (max-width:992px) {

        .container{

            width: 100%;
            flex-direction: column;}

        .best-players{
            
            flex-direction: column;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
        

        }
        
    }